<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Fitness Club - change yourself</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body class="bg-dark text-white">
<div th:replace="shared/header :: header('home')"/>
<div id="wrap">
    <div id="main" class="container clear-top">
        <div class="col-4"></div>
        <div class="col-4">
            <form class="mt-5" th:method="POST" th:object="${employee}" th:action="@{/employee}">
                <h3 class="mb-3">Edit employee</h3>
                <input type="hidden" class="form-control" id="id" th:field="*{id}">
                <input type="hidden" class="form-control" id="user_id" th:field="*{user_id}">
                <div class="form-group row">
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" autofocus="true" th:field="*{imie}">
                        <div class="error text-danger" th:if="${#fields.hasErrors('imie')}">
                            <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning">Save employee</button>
            </form>
        </div>
    </div>
</div>
<div th:replace="shared/footer :: footer"/>
</body>

</html>



