<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Fitness Club - change yourself</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body class="bg-dark text-white">
<div th:replace="shared/header :: header('home')"/>
<div id="wrap">
    <div id="main" class="container clear-top">
        <p class="mt-lg-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam a rutrum odio, nec vehicula nulla. Mauris molestie,<br>
            turpis eu tempus placerat, lectus risus eleifend tellus, eu vestibulum mauris massa in sapien. Nunc accumsan,<br>
            ex vel aliquet scelerisque, odio neque vestibulum diam, et aliquet diam quam in odio. Duis eu bibendum nisl.<br>
            Quisque tempor, leo ut maximus imperdiet, purus arcu sagittis purus, sit amet fermentum nulla erat id nibh.<br>
            Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum eget neque<br>
            vel sapien fringilla auctor nec at ligula. In hac habitasse platea dictumst. Suspendisse hendrerit orci arcu,<br>
            rutrum rhoncus diam sagittis vel. Duis elit nisi, varius sit amet finibus vel, facilisis eu quam.<br>
            Vivamus tempus consequat pulvinar. Nam a sollicitudin justo, eget gravida velit. Nulla ac ante mi. Nunc vitae nulla quis justo laoreet bibendum.</p>
    </div>
</div>
<div th:replace="shared/footer :: footer"/>
</body>

</html>

