<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>Fitness Club - change yourself</title>
    <div th:replace="shared/header :: header-css"/>
</head>
<body class="bg-dark text-white">
<div th:replace="shared/header :: header('home')"/>
<div id="wrap">
    <div id="main" class="container clear-top">
        <div class="col-4"></div>
        <div class="col-4 mt-5">
            <h1>Cześć <span class="text-warning" th:text="${username}"></span> </h1>
            Właśnie się zarejestrowałeś.<br>
            Wysłaliśmy Ci mail-a z linkiem aktywacyjnym aby dokończyć proces rejestracji.
        </div>
        <div class="col-4"></div>
    </div>
</div>
<div th:replace="shared/footer :: footer"/>
</body>

</html>

