<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      lang="pl">
<head>
    <div th:fragment="header-css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <style>
            html, body {
                height: 100%;
            }

            #wrap {
                min-height: 100%;
            }

            #main {
                overflow:auto;
                padding-bottom:150px; /* this needs to be bigger than footer height*/
            }

            .footer {
                position: relative;
                margin-top: -150px; /* negative value of footer height */
                height: 150px;
                clear:both;
                padding-top:20px;
            }
        </style>
    </div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="header(pageName)">
    <a class="navbar-brand" href="/">Fitness Club</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:classappend="${pageName eq 'home'}?'active'">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/carnet" th:classappend="${pageName eq 'carnet'}?'active'">Carnet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/workout" th:classappend="${pageName eq 'workout'}?'active'">Workout</a>
            </li>
        </ul>
        <span class="nav-item" sec:authorize="isAuthenticated()">
            <div class="dropdown text-justify">
                <img src="https://img.icons8.com/material-rounded/2x/user.png" alt="User" width="30" id="lista" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="lista">
                    <span class="dropdown-item-text text-warning font-weight-bold" sec:authentication="name"></span>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#" onclick="document.getElementById('logout').submit()">
                        <form th:action="@{/logout}" id="logout" method="post" style="display: none;">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        </form>
                        Sing out
                    </a>
                </div>
            </div>
        </span>
        <span class="navbar-text" sec:authorize="isAnonymous()">
            <a href="/login">Sign in</a>
        </span>
    </div>
</nav>


<!--<nav class="navbar navbar-inverse white" th:fragment="header(pageName)">-->
<!--    <div class="container-fluid col-lg-10">-->
<!--        <div class="navbar-header">-->
<!--            <a class="navbar-brand" href="/">Fitness Club</a>-->
<!--        </div>-->
<!--        <ul class="nav navbar-nav ">-->
<!--            <li th:classappend="${pageName eq 'home'}?'active'"><a href="/">Home</a></li>-->
<!--            <li th:classappend="${pageName eq '#'}?'active'"><a href="#">Carnet</a></li>-->
<!--        </ul>-->
<!--    </div>-->
<!--    <div class="container-fluid">-->
<!--        <ul class="nav navbar-nav text-color-white">-->
<!--            <label style="color:yellow; margin-top: 20px;" sec:authorize="isAuthenticated()">-->
<!--                Witaj <span sec:authentication="name"/>!-->
<!--            </label>-->

<!--            <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--                <a class="nav-link" href="#" onclick="document.getElementById('logout').submit()">Wyloguj się</a>-->
<!--                <form th:action="@{/logout}" id="logout" method="post" style="display: none;">-->
<!--                    <input-->
<!--                            type="hidden"-->
<!--                            th:name="${_csrf.parameterName}"-->
<!--                            th:value="${_csrf.token}"/>-->
<!--                </form>-->
<!--            </li>-->

<!--            <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--                <a class="nav-link"  th:href="@{/login}">Zaloguj się</a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->
<!--</nav>-->
</body>
</html>